<main>
  <h1>Chat Canan</h1>
  <form action="">
    <h2>Ingrese su email para visualizar y enviar mensajes</h2>
    <input type="email" placeholder="Ingresa tu email: " id="email-input">
    <input type="submit">
  </form>
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/script.js"></script>